<section class="flex-1 overflow-y-auto bg-neutral-100 px-4 pb-4 space-y-3 pt-6">
    @if (Items is { Count: > 0 })
    {
        @foreach (var f in Items)
        {
            <FriendCard Friend="f"
                        PageContext="@PageContext"
                        OnAccept="OnAccept"
                        OnReject="OnReject"
                        OnCancel="OnCancel"
                        OnAdd="OnAdd"
                        OnOpenChat="OnOpenChat"
                        OnRemove="OnRemove" />
        }
    }
    else
    {
        <p class="text-center text-sm text-neutral-500">Geen vrienden gevonden.</p>
    }
</section>

@code {
    [Parameter] public IReadOnlyList<UserConnectionDto.Get> Items { get; set; } = [];
    [Parameter] public EventCallback<UserConnectionDto.Get> OnAccept { get; set; }
    [Parameter] public EventCallback<UserConnectionDto.Get> OnReject { get; set; }
    [Parameter] public EventCallback<UserConnectionDto.Get> OnCancel { get; set; }
    [Parameter] public EventCallback<UserConnectionDto.Get> OnAdd { get; set; }
    [Parameter] public EventCallback<UserConnectionDto.Get> OnOpenChat { get; set; }
    [Parameter] public EventCallback<UserConnectionDto.Get> OnRemove { get; set; }
    [Parameter] public UserConnectionTypeDto PageContext { get; set; } = UserConnectionTypeDto.Friend;

}