<div id="app">
    <div class="app-loading-screen">
        <div class="app-loading-card">
            <h1 class="app-loading-title">Nodo</h1>
            <p class="app-loading-subtitle">Hier is waar vriendschap begint</p>
        </div>
    </div>
</div>