@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<Rise.Client.Shared.OfflineAlert />
<div class="app-layout">
    <BlazoredToasts />
    <main class="app-main">
        <section class="app-section">
            @Body
        </section>
    </main>
    <NavBar/>
</div>

