@inherits LayoutComponentBase
<div class="relative min-h-dvh bg-neutral-100 pb-28">
    <main class="pb-8">
        <section class="section pb-24">
            @Body
        </section>
    </main>
    <NavBar />
</div>

