@page "/helpdesk/SupervisorChat"
@using Rise.Client.Chats.Components
@layout EmptyLayout

<div class="flex flex-col h-screen max-h-screen overflow-hidden bg-neutral-100 text-neutral-900">

    <ChatHeader
        DisplayName="Begeleider"
        AvatarUrl="https://www.shutterstock.com/image-vector/avatar-gender-neutral-silhouette-vector-600nw-2470054311.jpg"
    />

    <!-- MESSAGE LIST -->
    <div class="flex-1 overflow-y-auto px-3 py-5 bg-neutral-100 space-y-2 no-scrollbar"
         style="@GetMessageHostPaddingStyle()">

        @foreach (var message in Messages)
        {
        <div class="space-y-1">
            <MessageBubble Text="@message.Content"
                           IsOutgoing="@message.IsUser"
                           AvatarUrl="@message.AvatarUrl"/>
        </div>
        }
    </div>

    <!-- INPUT -->
    <div class="fixed bottom-0 left-0 right-0 bg-white">
        <div class="mx-auto px-3">
            @if (user?.User?.DefaultChatLines is not null)
            {
                <SuggestionChips Suggestions="user.User.DefaultChatLines" OnPick="ApplySuggestion" />
            }
            <ChatInput OnSend="HandleUserMessage"/>
        </div>
    </div>

</div>

<style>
    html, body { height: 100%; overflow-x: hidden; }
    .no-scrollbar::-webkit-scrollbar { display: none; }
    .no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
</style>
