@page "/helpdesk/videos"
@attribute [Authorize]

@using Rise.Client.Helpdesk.Components
@layout MainLayout
@inject NavigationManager NavigationManager

<div>
    <TopBar Title="Informatie-video's" Class="sticky top-0 z-40 shadow" ShowBackButton="true"></TopBar>
    <div class="w-full mb-32 md:mt-8 mt-4">
        <div class="flex flex-col items-center w-full">
            @foreach (var video in videos)
            {
                <VideoComponent
                    Titel="@video.Key"
                    Url="@video.Value"
                />
            }
        </div>
    </div>
</div>

@code {
    private Dictionary<string, string> videos = new()
    {
        { "Wat is toestemming (Thee Metafoor)?", "https://www.youtube.com/embed/7K0RsGR7f9o" },
        { "Wat is een soa?", "https://www.youtube.com/embed/FuU-84nMFz8" },
        { "Grenzen Aangeven (Ministerie VWS)", "https://www.youtube.com/embed/S9XJwMXd99c" }, 
        { "Wat doet alcohol met je?", "https://www.youtube.com/embed/hp0d0vhHjus" }, 
        { "Wat is Faalangst?", "https://www.youtube.com/embed/bERKOypBh9s" }, 
        { "Sexting (Simpele Uitleg)", "https://www.youtube.com/embed/44D0JiXU9oU" }, 
        { "Hoe werkt de pil? (Eenvoudig)", "https://www.youtube.com/embed/lNUBbgZn2pM" }, 
    };
}