@page "/helpdesk/videos"
@attribute [Authorize]

@using Rise.Client.Helpdesk.Components
@layout MainLayout
@inject NavigationManager NavigationManager

<div>
    <TopBar Title="Informatie-video's" Class="sticky top-0 z-40 shadow" ShowBackButton="true"></TopBar>
    <div class="w-full mb-32 md:mt-8 mt-4">
        <div class="flex flex-col items-center w-full">
            @foreach (var video in videos)
            {
                <VideoComponent
                    Titel="@video.Key"
                    Url="@video.Value"
                />
            }
        </div>
    </div>
</div>