@inherits LayoutComponentBase

<div class="h-screen bg-neutral-200 text-neutral-900 antialiased">
    <main class="mx-auto h-full w-full bg-white shadow-sm flex flex-col overflow-hidden pb-28">
        @Body
    </main>
    <NavBar />
</div>
