<div class="mt-10 w-full max-w-sm space-y-3 sm:space-y-4">
    <NavLink class="block" href="/login">
        <span class="block w-full rounded-full bg-[#0B6532] py-3 text-center text-white font-semibold text-lg shadow-md hover:bg-[#0a572b] transition">Login</span>
    </NavLink>
    <NavLink class="block" href="/register">
        <span class="block w-full rounded-full border-2 border-[#0B6532] py-2.5 text-center text-[#0B6532] font-semibold text-lg bg-white hover:bg-[#e8f5ec] transition">Registreer</span>
    </NavLink>
</div>
