<div class="flex min-h-screen flex-col justify-between bg-[#F5F4F0]">
    <div class="flex flex-1 flex-col items-center justify-center px-6 py-10 sm:px-8 md:px-12 lg:px-16">
        <div class="flex w-full max-w-xl flex-col items-center gap-10 lg:max-w-5xl lg:flex-row lg:items-center lg:justify-between lg:gap-16">
            <div class="flex w-full flex-col items-center gap-6 text-center lg:w-1/2 lg:items-start lg:text-left">
                <HomeLogo />
                <HomeHeading />
            </div>
            <div class="w-full lg:w-80 lg:self-start">
                <HomeActions />
            </div>
        </div>
    </div>
</div>
