<div class="justify-between h-full">
    <div class="-mt-5 space-y-3">
        <h2 class="text-center text-5xl font-semibold tracking-tight text-[#04320C] sm:text-6xl lg:text-7xl">Nodo</h2>
        <p class="text-center text-base font-medium text-zinc-500 sm:text-lg lg:text-xl">Hier is waar vriendschap begint</p>
    </div>
</div>
