<div class="justify-between h-full">
    <div class="-mt-5">
        <h2 class="text-center text-8xl font-semibold tracking-tight text-[#04320C]">Nodo</h2>
        <p class="text-center text-zinc-500 font-medium">Hier is waar vriendschap begint</p>
    </div>
</div>
