@using System.Reflection
@using Rise.Client.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(App).Assembly" AdditionalAssemblies="@AdditionalRouteAssemblies">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    private static readonly Assembly[] AdditionalRouteAssemblies = [typeof(ProfilePictureTesting).Assembly];
}
