@page "/friends"
@attribute [Authorize]
@using Rise.Client.UserConnections.Components.Friends

@layout MainLayout


<FriendsHeader OnBack="GoBack" />

<section class="bg-neutral-100 px-4 pt-4 pb-2 sm:px-6 lg:mx-auto lg:max-w-4xl lg:rounded-3xl lg:pb-4 lg:pt-6">
    <FriendsTabs Selected="@_selectedTab" OnChange="ChangeTab" />
    <FriendSearch @bind-Value="_query" />
</section>

<FriendList Items="@_filteredConnections"
            PageContext="@_selectedTab"
            OnAccept="AcceptFriendRequest"
            OnReject="RejectFriendRequest"
            OnCancel="CancelFriendRequest"
            OnAdd="AddFriend"
            OnOpenChat="OpenChat"
            OnRemove="RemoveFriend" />

@code {
    private string? _query;
    private string? Query
    {
        get => _query;
        set { _query = value; ApplyQuery(); }
    }
}
