<button class="rounded-2xl bg-white w-11/12 md:w-6/10 md:mt-8 md:mb-8 m-4 p-0 transition-all duration-200 transform hover:scale-105 active:scale-95 shadow-lg">
    <div class="flex flex-col items-center space-y-0">
        <div class="flex justify-center w-full"> 
            <iframe 
                class="rounded-t-xl w-full aspect-video"
                src=@ToEmbedUrl(Url)
                title="@Titel"
                frameborder="0"
                allowfullscreen
            >
            </iframe>
                
        </div>
        <h2 class="text-gray-800 font-bold text-lg text-center md:text-2xl p-4 ">@Titel</h2>
    </div>
</button>