

<div class="absolute z-40 mt-3 ml-3">
    <button type="button" onclick="history.back()" class="h-15 w-15 rounded-2xl bg-[#127646] px-5 py-3 text-base font-semibold text-white shadow-md transition" aria-label="Terug">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <rect width="256" height="256" fill="none" />
            <polyline points="160 208 80 128 160 48" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="24" />
        </svg>
    </button>
</div>

@code {
    
}