
@if (plusknop)
{
    <section class="relative z-10 flex flex-1 flex-col justify-center overflow-y-auto p-5 sm:p-8 md:w-1/2">
        <p class="mt-9 rounded-2xl bg-neutral-50 p-4 text-[14px] leading-relaxed text-neutral-800 sm:text-[15px]">@Description</p>

        <div class="mt-5">
            <button type="button" class="w-full rounded-2xl bg-[#127646] px-5 py-3 text-base font-semibold text-white shadow-md transition focus:ring-2 focus:ring-emerald-300 focus:outline-none active:scale-[0.99]" aria-label="Bericht sturen naar Emma De Vries">+</button>
        </div>
    </section>
}
else
{
    <section class="relative z-10 flex flex-1 flex-col justify-center overflow-y-auto p-5 sm:p-8 md:w-1/2">
        <p class="mt-9 rounded-2xl bg-neutral-50 p-4 text-[14px] leading-relaxed text-neutral-800 sm:text-[15px]">@Description</p>

        <div class="mt-5">
            <button type="button" class="w-full rounded-2xl bg-[#127646] px-5 py-3 text-base font-semibold text-white shadow-md transition focus:ring-2 focus:ring-emerald-300 focus:outline-none active:scale-[0.99]" aria-label="Bericht sturen naar Emma De Vries">Bericht sturen</button>
        </div>
    </section>
}


@code {
    [Parameter] public string Description { get; set; } = "Lief, eerlijk en altijd mezelf 💛 Heb een mentale beperking, maar een groot hart en een brede glimlach 🙂";
    [Parameter] public Boolean plusknop { get; set; } = false;
}