@using Rise.Client.Profile.Models


<div class="absolute top-[67%] left-1/2 z-[60] w-full max-w-[400px] -translate-x-1/2 -translate-y-1/2">
    <div class="grid grid-cols-3 items-center justify-center gap-6 p-9">
        @foreach (var hobby in Hobbies.Take(3))
        {
            <button type="button" class="group focus:outline-none">
                <div class="flex h-24 flex-col items-center justify-center rounded-2xl bg-neutral-50 transition group-active:scale-[0.98]">
                    <div class="text-3xl leading-none">@hobby.Emoji</div>
                    <span class="mt-1 text-sm font-medium text-neutral-800">@hobby.Name</span>
                </div>
            </button>
        }
    </div>

   

</div>

@code {
    [Parameter] public IReadOnlyList<ProfileHobbyModel> Hobbies { get; set; } = Array.Empty<ProfileHobbyModel>();
}