<div class="mt-10 w-full max-w-sm space-y-3 sm:space-y-4">
    <button class="w-full rounded-full bg-[#0B6532] py-3 text-white font-semibold text-lg shadow-md hover:bg-[#0a572b] transition">Login</button>
    <button class="w-full rounded-full border-2 border-[#0B6532] py-2.5 text-[#0B6532] font-semibold text-lg bg-white hover:bg-[#e8f5ec] transition">Registreer</button>
</div>
