@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>
<div class="p-4 bg-blue-500 text-white rounded-xl shadow">
    Tailwind v4 werkt! 🎉
</div>

<p>After a user authenticates, the navigation menu shows a link to the <a href="private-page">Private Page</a>.</p>
