@page "/dashboard"
@attribute [Authorize(Roles = $"{AppRoles.Supervisor},{AppRoles.Administrator}")]
@using Rise.Client.Chats
@using Rise.Shared.Assets
@using Rise.Shared.Chats
@using Microsoft.AspNetCore.SignalR.Client
@using Rise.Client.Dashboard.Components
@using Rise.Client.State
@using Rise.Shared.Identity


@layout EmptyLayout
@inject IChatService ChatService
@inject NavigationManager NavigationManager


<div class="bg-white">
<div class="bg-white text-gray-800 font-inter">

  <div class="flex min-h-screen">
    <!-- Sidebar -->
    <Sidebar></Sidebar>

    <!-- Main Dashboard -->
    <main class="flex-1 p-6 space-y-6 bg-neutral-100 m-3 rounded-2xl">
      <!-- Header -->
      <DashboardHeader></DashboardHeader>
      <!-- Cards -->
      <section class="grid grid-cols-1 gap-4"
               @onclick="() => NavigateToRegistraties()">
        <DashboardRegistraties></DashboardRegistraties>
      </section>

      <!-- Middle Section -->
      <section class="grid grid-cols-1 gap-4">
        <DashboardVriendschapsverzoeken></DashboardVriendschapsverzoeken>
      </section>
      
      <!-- Bottom Section -->
      <section class="grid grid-cols-4 gap-4">
       <DashboardNoodknop></DashboardNoodknop>
       <DashboardEvenementenMeldingen></DashboardEvenementenMeldingen>
        
      </section>
    </main>
  </div>
</div>

</div>



@code
{
  [Inject] public UserState UserState { get; set; }

  private void NavigateToRegistraties()
  {

    NavigationManager.NavigateTo($"/registrations/pending");

  }
}
