<div class="col-span-2 bg-white rounded-xl p-4 ">
    <div class="flex justify-between items-center mb-4">
        <h3 class=" text-lg font-semibold">Evenement meldingen</h3>
            
    </div>
    <div class="space-y-3">
        <div class="flex justify-between items-center">
            <div>
                <p class="font-normal">Alexandra Deff</p>
                <p class="text-sm text-neutral-500">Wil graag naar <b>Evenement1</b></p>
                
            </div>
            <button class=" text-center bg-[rgb(18,118,70)] text-white rounded-lg p-2">accepteren </button>
        </div>
        <div class="flex justify-between items-center">
            <div>
                <p class="font-normal">Edwin Adenike</p>
                <p class="text-sm text-neutral-500">Wil graag naar <b>Evenement2</b></p>
            </div>
            <button class=" text-center bg-[rgb(18,118,70)] text-white rounded-lg p-2">accepteren </button>
        </div>
        <div class="flex justify-between items-center">
            <div>
                <p class="font-normal">Isaac Oluwatemilorun</p>
                <p class="text-sm text-neutral-500">Wil graag naar <b>Evenement3</b></p>
            </div>
            <button class=" text-center bg-[rgb(18,118,70)] text-white rounded-lg p-2">accepteren </button>
        </div>
    </div>
</div>

@code {
    
}